@media screen and (max-width: 480px ) {
    .logo {
        width: 40px;
    }
    .site-navigation {
        min-width: 100%;
        flex-direction: column;
        justify-content: space-between;
        max-height: 0vh;
        overflow: hidden;
        transition: max-height 1s;
    } 
    .site-navigation.open {
        max-height: 50vh;
    }
    .site-navigation a {
        display: block;
        min-width: 100%;
    }
    .page-header {
        justify-content: space-between;
    }
    .content {
        grid-template-columns: 1fr;
    }
    .banner {
        min-height: 30vh;
        background-position: center;
    }
    .card2 {
        grid-column: span 1;
    }
    .nav-button {
        display: block;
        margin: 0.5em;
    }
    .dropdown-menu {
        overflow: auto;
        position: static;
    }
}