@media screen and (max-width: 480px ) {
    .logo {
        width: 40px;
    }
    .site-navigation {
        min-width: 100%;
        justify-content: space-between;
    } 
    .page-header {
        justify-content: center;
    }
    .content {
        grid-template-columns: 1fr;
    }
    .banner {
        min-height: 30vh;
        background-position: center;
    }
    .card2 {
        grid-column: span 1;
    }
}