body {
    background-color: bisque;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    /* vh = viewport height or height of the view area */
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.about-page {
    /* background-image: url("images/tile.png"); */
     /* background-size: 50% 50%; */
    background-image: url("images/red-leaf-8319391_1920.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
.about-content {
    max-width: 1000px;
    padding: 3ch;
    margin: 5ch auto;
    background-color: hsla(208, 100%, 97%, 0.538);
}

img {
    max-width: 100%;
    display: block;
}

.logo {
    width: 60px;
    padding: 10px;
}
.page-header{
    /* background-color: #94d4d6; */
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}
.site-navigation {
    display: flex;
    flex-direction: row;
}
.site-navigation a {
    padding: 1em;
    text-decoration: none;
}
.site-navigation a:hover {
    background-color: #5c8486;
    color: #c9c9c9;
}
.nav-button {
    background-color: transparent;
    border: solid 1px #999999;
    border-radius: 0.5em;
    align-self: center;
    margin-left: 1em;
    display: none;
}
.nav-button i {
    font-size: 2em;
    padding: 0.5em;
    padding-bottom: 0.1em;
}
.button-text {
    display: block;
}
.banner {
    background-color: #5c8486;
    min-height: 50vh;
    display: grid;
    place-items: center center;
    background-image: url("images/pexels-quang-nguyen-vinh-2883704.jpg");
    background-size: cover;
    background-position: center -200px;
    background-repeat: no-repeat;
}
.banner-text {
    color: #171717;
    font-size: 4em;
    text-shadow: 0px 0px 2px black;
}
.content {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(4, 1fr);
    column-gap: 3ch;
    row-gap: 2ch;
    max-width: 1200px;
    padding: 1em;
    margin: 5ch auto; 
}
.card-image {
    aspect-ratio: 4/3;
    object-fit: cover;
    object-position: center;
}
.card {
    border: solid 1px #a7a7a7;
    border-radius: 1ch;
    overflow: hidden;
}
.card-content {
    padding: 2ch;
}
.card2 {
    grid-column: span 2;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3ch;
}
.social a {
    font-size: 2em;
    color: #3a5355
}
.copyright {
    text-align: center;
}

/* contact form */
#contact-form {
    max-width: 600px;
    margin: 12ch auto;
}
#contact-form > label {
    display: block;
    font-weight: 500;
}
#contact-form .input {
    display: block;
    width: 100%;
    margin-bottom: 2ch;
    border: solid #5c8486 1px;
    padding: 1ch;
    border-radius: 0.5em;
}
#contact-form .input:focus {
    background-color: lightyellow;
    outline: dotted;
}
.radiobuttons > label {
    display: inline-block;
}