body {
    background-color: bisque;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    /* vh = viewport height or height of the view area */
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

img {
    max-width: 100%;
    display: block;
}

.logo {
    width: 60px;
    padding: 10px;
}
.page-header{
    background-color: #94d4d6;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}
.site-navigation {
    display: flex;
    flex-direction: row;
}
.site-navigation a {
    padding: 1em;
    text-decoration: none;
}
.site-navigation a:hover {
    background-color: #5c8486;
    color: #c9c9c9;
}
.banner {
    background-color: #5c8486;
    min-height: 50vh;
    display: grid;
    place-items: center center;
    background-image: url("images/pexels-quang-nguyen-vinh-2883704.jpg");
    background-size: cover;
    background-position: center -200px;
    background-repeat: no-repeat;
}
.banner-text {
    color: #171717;
    font-size: 4em;
    text-shadow: 0px 0px 2px black;
}
.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 3ch;
    row-gap: 2ch;
    max-width: 1000px;
    padding: 1em;
    margin: 5ch auto; 
}
.card-image {
    aspect-ratio: 4/3;
    object-fit: cover;
    object-position: center;
}
.card {
    border: solid 1px #a7a7a7;
    border-radius: 1ch;
    overflow: hidden;
}
.card-content {
    padding: 2ch;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3ch;
}
.social a {
    font-size: 2em;
    color: #3a5355
}
.copyright {
    text-align: center;
}
