body {
    background-color: bisque;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    /* vh = viewport height or height of the view area */
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

img {
    max-width: 100%;
    display: block;
}

.logo {
    width: 60px;
    padding: 10px;
}
.page-header{
    background-color: #94d4d6;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}
.site-navigation {
    display: flex;
    flex-direction: row;
}
.site-navigation a {
    padding: 1em;
    text-decoration: none;
}
.site-navigation a:hover {
    background-color: #5c8486;
    color: #c9c9c9;
}
